@media screen and (max-width:1130px){
    .header_unorderlist{
        gap: 20px;
    }
}

@media screen and (max-width:1024px){
    .header_unorderlist {
        display: none;
        position: absolute;
        top: 124px;
        left: 0;
        width: 100%;
        background-color: var(--theme-white);
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        z-index: 999;
    }

    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
    }

    .header .menu-btn:checked ~ .header_unorderlist {
        display: flex;
    }

    .header .menu-icon {
        display: inline-block;
        color: white;
    }
    .header-a{
        color: black;
    }

    .header_logos_image{
        display:none;
    }

    .header_logo_image{
        display: block;
    }

    .mini_header{
        display: none;
    }

    .header_options_a{
        color: var(--theme-black);
    }

    .header_anchor{
        background-color: var(--theme-green);
        color: var(--theme-white);
    }
    .header .menu-icon .navicon {
        background: var(--theme-white);
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: var(--theme-white);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .header .menu-icon .navicon {
        background: var(--theme-black);
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: var(--theme-black);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
    .hero_section {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        background-color: var(--theme-yellow);
    }

    .hero_section_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
        margin-top: 142px;
    }
    .header_logos_image{
        display:block;
    }

    .header_logo_image{
        display: none;
    }
    
    .header {
      background-color: var(--theme-yellow);
    }

    .hero_section_heading{
        color: var(--theme-black);
    }

    .hero_section_para{
        color: var(--theme-black);
    }

    .hero_section_whatwedo{
    color: var(--theme-white);
    background-color: var(--theme-orange);
    padding: 15px 40px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    font-weight: 500;
    font-size: 12px;
    }
    
    .hero_section_buttons{
        flex-direction: column;
        align-items: baseline;
    }
    .card_main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:575px){
    .hero_section_heading {
        font-size: 12px;
    }
    .hero_section_para{
        font-size: 40px;
        max-width: 400px;
    }
    .local_charity_head {
        max-width: 400px;
        font-size: 40px;
    }
    .loacal_charity_para {
        max-width: 400px;
        font-size: 16px;
    }
    .card_anchor{
        display: none;
    }
    .card_main {
        grid-template-columns: repeat(1, 1fr);
    }
}