@import url(../css/fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-gray: rgba(0, 0, 0, .55);
    --theme-darkgray:#c6bfbf;
    --theme-black:#000000;
    --theme-yellow:#EDEDE5;
    --theme-green:#043C39;
    --theme-orange:#ED6C4F;
    --theme-pink:#FFFCF8;
    --theme-white:white;
}

body {
    font-size: 16px;
    background-color: var(--theme-green);
    font-family: 'Libre Franklin';
}

.whoweare_body{
  font-size: 16px;
    background-color: var(--theme-yellow);
    font-family: 'Libre Franklin';
}

.service_body{
    background-color: var(--theme-yellow);
}

.privacy_body{
    background-color: var(--theme-yellow);
}

.container {
    max-width: 1440px;
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* home page  */

/* mini header section  */

.mini_header{
    background-color: var(--theme-green);
}

.mini_header_inner{
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini_header_left{
    display: flex;
    align-items: center;
    gap: 16px;
}

.mini_header_para{
  color: var(--theme-white);
  font-size: 12px;
  font-weight: 600;
}

.mini_header_para span{
    font-weight: 100;
}

/* header section  */
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header{
    position: fixed ;
    width: 100%;
    z-index: 999;
}

.header_unorderlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
}

.header_logos_image{
    display: none;
}

.header_options_a{
    color: var(--theme-white);
    font-size: 14px;
    padding: 10px;
}

.header_anchor{
    color: var(--theme-black);
    font-weight: 500;
    background-color: var(--theme-white);
    padding: 15px 30px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: none;
}

.header .menu-icon .navicon {
    background: var(--theme-black);
    display: block;
    height: 2px;
    position: relative;
    transition: background 1s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--theme-black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 1s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* hero section  */

.hero_section img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hero_section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.hero_section{
    position: relative;
    height: 100vh;
}

.hero_section_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 200px; */
    position: absolute;
    top: 30%;
}

.hero_section_heading{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--theme-white);
}

.hero_section_para{
    max-width: 700px;
    color: var(--theme-white);
    font-size: 60px;
    font-weight: 300;
    margin-top: 20px;
}

.hero_section_buttons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.hero_section_whatwe{
   color: var(--theme-white);
   background-color: var(--theme-orange);
   padding: 15px 40px;
   clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
   font-weight: 500;
   font-size: 12px;
}

.hero_section_whatwedo{
    font-weight: 500;
    font-size: 12px;
    color: var(--theme-white);
}

/* local charity section  */

.loacal_charity{
    background-color: var(--theme-orange);
    position: relative;
}

.loacal_charity::before {
    content: '';
    position: absolute;
    right: 0;
    background-position: right;
    background-image: url(../images/sections/Subtraction\ 10.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; 
    background-size: contain; 
}


.local_charity_heading{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--theme-white);
}

.local_charity_inner{
    padding-top: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    padding-bottom: 500px;
}

.local_charity_head{
    max-width: 600px;
    margin-top: 20px;
    color: var(--theme-white);
    font-size: 50px;
    font-weight: 300;
}

.loacal_charity_para{
    max-width: 600px;
    margin-top: 25px;
    color: var(--theme-white);
    font-weight: 300;
}

.loacal_charity_readmore{
    margin-top: 20px;
    color: var(--theme-white);
    background-color: var(--theme-green);
    padding: 15px 50px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    font-weight: 500;
    font-size: 12px;
}

/* card section  */

.card_heading{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card{
    background-color: var(--theme-green);
}

.card_img::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 1%, rgb(0 0 0) 90%, rgba(23, 16, 15, 0.955) 100%);
    width: 100%;
    height: 25%;
}

.card_inner{
   transform: translateY(-280px);
}

.card_head{
    font-size: 40px;
    color: var(--theme-white);
    font-weight: 300;
}

.card_anchor{
    color: var(--theme-white);
    background-color: var(--theme-green);
    padding: 15px 50px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.card_anchor:hover{
    background-color: var(--theme-blue);
    color: var(--theme-white);
}

.card_main{
    padding-top: 30px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
}

.card_img img{
    width: 100%;
    display: block;
}

.cards{
    position: relative;
}

.card_text{
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_header{
    color: var(--theme-white);
    font-size: 22px;
    font-weight: 500;
}

.card_icon{
    background-color: var(--theme-white);
    border-radius: 30px;
    width: 25px;
    height: 25px;
}

/* slider section  */

.primary{
    background-color: var(--theme-green);
}

.primary-inner{
    text-align: center;
    width: 100%;
}

.primary-heading{
    color: var(--theme-white);
    font-size: 12px;
    font-weight: 500;
}

.primary-para{
    color: var(--theme-yellow);
    font-size: 44px;
    font-weight: 300;
    max-width: 800px;
    margin: auto;
    font-style: italic;
    margin-top: 20px;
}

.primary-head{
    color: grey;
    margin-top: 60px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--theme-green);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider{
    background-color: var(--theme-green);
  }

  .swiper_head{
    font-size: 13px;
    margin-top: 20px;
    color: var(--theme-white);
  }
  .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    margin-top: 20px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--theme-white);
}

/* heading section  */

.heading{
    background-color: var(--theme-green);
}

.heading_inner{
    margin-top: 200px;
}

.heading_head{
    text-align: center;
    color: var(--theme-white);
    font-size: 40px;
    font-weight: 300;
}

.heading_head strong{
    font-weight: 600;
}

/* circle card section  */

.circle_card_inner {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 200px;
}

.circle_card_text{
    text-align: center;
    margin-top: 20px;
}

.circle_card_heading{
    font-size: 30px;
    color: var(--theme-white);
    font-weight: 600;
}

.circle_card_para{
    padding-top: 10px;
    color: var(--theme-white);
    font-size: 20px;
    font-weight: 300;
    max-width: 200px;
    text-align: center;
    margin: auto;
}

.circle_cards_primary,
.circle_cards_secondary,
.circle_cards_ternory {
    border-radius: 50%; 
    box-shadow: 0px 0px 36px #021F1E;
    width: 300px; 
    height: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden; 
    margin: auto;
}

.circle_cards_image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

/* swiper card section  */

.swiper_card{
    background-color: var(--theme-yellow);
}

.swiper_card_inner{
    padding-bottom: 150px;
}

.swiper_heading_text{
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swipers_text{
    color: var(--theme-green);
    font-size: 40px;
    font-weight: 400;
}

.swipers_arrows{
    display: flex;
    align-items: center;
    gap: 14px;
}

.swipers_arrow_a{
    background-color: var(--theme-green);
    border-radius: 50px;
    padding: 5px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.mySwipers .swiper-slide {
    text-align: left;
    font-size: 18px;
    background-color: var(--theme-yellow);
}

.mySwipers .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper_cards_image{
    width: 100%;
    height: 100%;
}

.swipers_arrow_a {
    cursor: pointer;
}

.swipers_arrow_a.disabled {
    opacity: 0.5;
    pointer-events: none; 
}

.swiper_cards_text{
    margin-top: 15px;
}

.swiper_card_span{
    font-size: 14px;
    font-weight: 400;
    color: var(--theme-orange);
}

.swiper_card_heading{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
}

.swiper_card_para{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    max-width: 350px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--theme-gray);
}

/* follow us section */

.swiper {
    width: 100%;
    height: 100%;
  }

  .my_swipers .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--theme-green);
  }

  .my_swipers .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .follow_us_inner{
    padding-top: 150px;
    display: flex;
    gap: 35px;
  }

  .follow_us_right_section { 
    min-width: 0;
  }

  .follow_us_left_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .follow_us_left_section_para{
     font-size: 30px;
     font-weight: 400;
     color: var(--theme-white);
  }

  .follow_us_date {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .follow_us_span{
    font-size: 14px;
    font-weight: 400;
    color: var(--theme-gray);
  }

  .follow_us_Para{
    font-size: 13px;
    font-weight: 500;
    max-width: 300px;
    margin-top: 10px;
  }

  .follow_us_text{
    background-color: var(--theme-white);
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
    padding: 20px 12px;
  }

  /* footer section  */

  .footer_inner{
    margin-top: 70px;
  }

  .footer_left_heading{
    font-size: 50px;
    font-weight: 400;
    color: var(--theme-white);
  }

  .contact_info {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

  .contact_location{
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 35px;
  }

  .phone_svg{
    background-color: var(--theme-orange);
    border-radius: 30px;
    padding: 10px;
  }

  .contact_span{
    color: var(--theme-white);
    font-size: 18px;
    font-weight: 200;
  }

  .mail_span{
    color: var(--theme-white);
    font-size: 18px;
    font-weight: 200;
  }

  .mail_svg{
    background-color: var(--theme-orange);
    border-radius: 30px;
    padding: 10px;
  }

  .mail_info{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .social_icons{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
  }

  .footer_inner{
    display: flex;
    justify-content: space-between;
  }

  .footer_right_heading{
    font-size: 34px;
    font-weight: 400;
    color: var(--theme-white);
  }

  .footer_para{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-white);
  }

  .footer_input {
    position: relative;
    padding: 10px 0;
    margin-top: 15px;
    width: 100%;
}

input {
    padding: 15px 30px; 
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    background-color: var(--theme-white);
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    outline: none;
    border: 0;
}

.play_svg_a {
    position: absolute;
    left: 81%;
    top: 50%;
    transform: translateY(-50%); 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-orange);
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    padding: 15px 25px;
}

.play_svg_a svg {
    fill: #ffffff; 
    width: 20px;
    height: 20px;
}


/* mini footer section  */

.mini_footer_inner{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.mini_footer_unorderlist{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 22px;
}

.mini_footer_a{
    color: var(--theme-white);
    font-size: 14px;
    font-weight: 100;
}

.mini_footer_right_section_para{
   color: var(--theme-white);
   font-size: 12px;
   font-weight: 100;
}

.mini_footer_right_section_para strong{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
}

/* Who We Are page  */

/* hero section  */

.hero_section_paras{
    max-width: 600px;
    color: var(--theme-white);
    font-size: 55px;
    font-weight: 300;
    margin-top: 20px;
}

.hero_sections_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 40%;
}

/* text section  */

.text{
    background-color: var(--theme-yellow);
}

.text_inner{
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.text_left_section_text{
    color: var(--theme-green);
    font-size: 34px;
    font-weight: 400;
    max-width: 450px;
}

.text_right_section_para{
    font-size: 16px;
    font-weight: 400;
    color: var(--theme-green);
    line-height: 25px;
    max-width:500px ;
}


/* who we are card slider section */

.swiper {
    width: 100%;
    height: 100%;
  }

  .my__swipers .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--theme-yellow);
    margin-top: 40px;
  }

  .my__swipers .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card_slider_inner{
    margin-top: 100px;
  }
  .circle_card_primary,
  .circle_card_secondary,
  .circle_card_ternory {
      border-radius: 50%; 
      background-color: var(--theme-green);
      width: 250px; 
      height: 250px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center; 
      overflow: hidden; 
      margin: auto;
  }
 
  .circle_cards_heading{
    font-size: 30px;
    color: var(--theme-green);
    font-weight: 400;
}

.circle_cards_para{
    padding-top: 10px;
    color: var(--theme-green);
    font-size: 16px;
    font-weight: 400;
    max-width: 250px;
    text-align: center;
    margin: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

/* swiper slider cards */

.swiper_cards_heading{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
    color: var(--theme-green);
}

/* our purpose section  */

.section{
    position:relative;
    background-image:url("../images/sections/jaimy-de-hon-QjmYgx1K6T4-unsplashs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .section:before{
     content: "";
     position:absolute;
     left:0;
     top:0;
     clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0 100%);
     background-color:var(--theme-orange);
     width:50%;
     height:100%;
  }

  .section .inner-content{
    position:relative;
    z-index:1;
    padding-block:100px;
    max-width:450px;
  }
  
  .purpose_heading{
    font-size: 40px;
    font-weight: 300;
    color: var(--theme-white);
  }

  .purpose_para{
    margin-top: 10px;
    color: var(--theme-white);
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: 300;
    max-width: 700px;
  }

  .purpose_a{
    font-size: 12px;
    margin-top: 20px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-green);
    padding: 15px 40px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
  }
  
  .image-content{
    position:absolute;  
    left:0;
    top:0;
  }

  .image-content img{
      width:100%;
      height:100%;
      object-fit:cover;
      display:block;
  }

/* card section */

.cards_inner{
    margin-top: 100px;
    padding-bottom: 150px;
}

.cards_head{
    font-size: 40px;
    color: var(--theme-green);
    font-weight: 300;
}

/* follow us section */

.follow__us{
    background-color: var(--theme-green);
}

.follow_us__inner{
    padding-top: 60px;
    display: flex;
    gap: 35px;
}

/* footer section  */

.footers{
    background-color: var(--theme-green);
}

.footers_inner{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 15px;
    width: 100%;
}

.footers_input {
    position: relative;
    padding: 10px 0;
    margin-top: 15px;
    width: 100%;
}

/* mini footer  */

.mini_footers{
    background-color: var(--theme-green);
}

.mini_footers_inner{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

/* our purpose page  */

/* text section  */

.text_left_sections_text {
    color: var(--theme-white);
    font-size: 34px;
    font-weight: 400;
    max-width: 450px;
}

.text_right_sections_para {
    font-size: 16px;
    font-weight: 400;
    color: var(--theme-white);
    line-height: 25px;
    max-width: 500px;
}

/* information section  */

.information_inner{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.information_left_section_heading{
    font-size: 12px;
    color: var(--theme-orange);
    font-weight: 300;
}

.information_left_heading{
    margin-top: 15px;
    color: var(--theme-white);
    font-weight: 300;
}

.information_left_section_para{
    color: var(--theme-white);
    font-size: 16px;
    font-weight: 200;
    max-width: 500px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    margin-top: 15px;
    line-height: 22px;
}

.information_right_section img{
   width: 100%;
   object-fit: cover;
}

.information_a{
    margin-top: 20px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 45px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    font-size: 12px;
}

/* Sustainability section */

.Sustainability_inner{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 100px;
}

.Sustainability_a{
    margin-top: 20px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 45px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    font-size: 12px;
}

.Sustainability_left_section img{
    width: 100%;
    object-fit: cover;
 }

 .Sustainability_right_section_para{
    color: var(--theme-white);
    font-size: 16px;
    font-weight: 200;
    max-width: 500px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    margin-top: 15px;
    line-height: 22px;
}

.Sustainability_right_section_heading{
    font-size: 12px;
    color: var(--theme-orange);
    font-weight: 300;
}

.Sustainability_right_heading{
    margin-top: 15px;
    color: var(--theme-white);
    font-weight: 300;
}

/* our purpose section  */

.sections{
    position:relative;
    background-image:url("../images/sections/3fa4ef5b2508dd7f01d40bba9d425b31.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .sections:before{
     content: "";
     position:absolute;
     left:0;
     top:0;
     clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0 100%);
     background-color:var(--theme-orange);
     width:50%;
     height:100%;
  }

  .sections .inner-content{
    position:relative;
    z-index:1;
    padding-block:100px;
    max-width:450px;
  }

  /* Resources News page  */



  .sections_hero {
    position: relative;
    background-image: url("../images/sections/1647694310.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 
  
}

.sections_hero:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(75% 0%, 49% 48%, 75% 100%, 0% 100%, 0 49%, 0% 0%);
    background-color: var(--theme-orange);
    width: 79%;
    height: 100%;
}

.sections_hero .inner-content {
    position: relative;
    z-index:1;
    padding-block: 173px;
    max-width: 450px;
}

.section_hero_head {
    font-size: 12px;
    color: var(--theme-white);
    font-weight: 100;
}

.purpose_headings {
    font-size: 40px;
    font-weight: 300;
    color: var(--theme-white);
    max-width: 400px;
    margin-top: 20px;
}

.purpose_para {
    color: var(--theme-white);
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5;
    max-width: 600px;
    margin: 20px auto;
    margin-right: auto;
    margin-left: 0;
}

.purpose_a {
    background-color: var(--theme-green);
    color: var(--theme-white);
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 20px;
}

/* resources card section  */

.resources{
    background-color: var(--theme-yellow);
}

.resources_inner{
    padding-top: 100px;
    padding-bottom: 100px;
}

.resources_headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resources_heading{
    font-size: 40px;
    font-weight: 300;
    color: var(--theme-green);
}

.resources_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.resources_text{
    color: var(--theme-green);
    font-size: 12px;
    font-weight: 400;
}

.resources_a{
    font-size: 12px;
    color: var(--theme-white);
    font-weight: 400;
    background-color: var(--theme-orange);
    border-radius: 30px;
    padding: 10px 25px;
}

.resources_card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    gap: 25px;
}

.resources_card_img{
    width: 100%;
}

.resources_card_img img{
    width: 100%;
}

.resource_card_text_head{
    font-size: 12px;
    font-weight: 400;
    color: var(--theme-orange);
    margin-top: 15px;
}

.resource_card_text_heading{
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.resources_card_text_para{
    font-size: 16px;
    font-weight: 400;
    color: var(--theme-gray);
    max-width: 350px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 10px;
    line-height: 22px;
}

/* letest news & update section */

.update{
    background-color: var(--theme-green);
}

.update_inner{
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: baseline;
}

.update_head{
    font-size: 28px;
    font-weight: 400;
    color: var(--theme-white);
}

.update_input {
    position: relative;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
}

.update_input input {
    padding: 15px 30px;
    font-size: 16px;
    width: 90%;
    font-weight: 500;
    background-color: var(--theme-white);
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    outline: none;
    border: 0;
}

.update_svg_a{
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-orange);
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    padding: 15px 25px;
}

.update_svg_a svg {
    fill: #ffffff;
    width: 20px;
    height: 20px;
}

/* other card section  */

.other_card{
    background-color: var(--theme-yellow);
}

.other_card_inner{
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.other_card_text_head{
    font-size: 12px;
    font-weight: 400;
    color: var(--theme-orange);
    margin-top: 15px;
}

.other_card_text_heading{
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.other_card_text_para{
    font-size: 16px;
    font-weight: 400;
    color: var(--theme-gray);
    max-width: 350px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 10px;
    line-height: 22px;
}

.other_card_image{
    width: 100%;
}

.other_card_image img{
    width: 100%;
}

/* What We Do page  */

/* sticky section  */

.sticky_inner{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.sticky_left_section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--theme-orange);
    padding: 30px;
    height: 300px;
    width: 25%;
    position: sticky;
    top: 150px;
}

.sticky_left_anchor{
    font-size: 12px;
    font-weight: 400;
    color: var(--theme-white);
}

.sticky_left_section_a{
    margin-top: 20px;
}

.sticky_left_a{
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-green);
    padding: 15px 40px;
    font-size: 12px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
}

.overview_heading{
    font-size: 30px ;
    font-weight: 600;
    color: var(--theme-white);
}

.overview_para{
    margin-top: 10px;
    font-size: 16px;
    color: var(--theme-white);
    font-weight: 200;
    max-width: 900px;
    line-height: 27px;
}

.overview_image{
    width: 100%;
    margin-top: 60px;
}

.overview_image img{
    width: 100%;
}

.problem_solving_section{
    margin-top: 50px;
}

.problem_solving_span{
    color: var(--theme-white);
    font-size: 12px;
    font-weight: 400;
}

.problem_solving_head{
    font-size: 30px;
    margin-top: 15px;
    font-weight: 500;
    color: var(--theme-white);
}

.problem_solving_para{
    margin-top: 10px;
    font-size: 16px;
    color: var(--theme-white);
    font-weight: 200;
    max-width: 900px;
    line-height: 27px;
}

.problem_solving_a{
    margin-top: 20px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 40px;
    font-size: 12px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
}

.practise_section{
    margin-top: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    border-bottom: 1px solid var(--theme-darkgray);
    padding-bottom: 70px;
}

.practise_right_section_head{
    font-size: 12px;
    font-weight: 200;
    color: var(--theme-orange);
}

.practise_right_section_heading{
    font-size: 22px;
    font-weight: 500;
    color: var(--theme-white);
    max-width: 200px;
    margin-top: 10px;
}

.practise_right_section_para{
    color: var(--theme-white);
    font-size: 13px;
    font-weight: 100;
    margin-top: 10px;
}

.practise_a{
    background-color: var(--theme-orange);
    margin-top: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comunication_section{
    margin-top: 50px;
    border-bottom: 1px solid var(--theme-darkgray);
    padding-bottom: 70px;
}

.comunication_span{
    color: var(--theme-white);
    font-size: 12px;
    font-weight: 400;
}

.comunication_head{
    font-size: 30px;
    margin-top: 15px;
    font-weight: 500;
    color: var(--theme-white);
}

.comunication_para{
    margin-top: 10px;
    font-size: 16px;
    color: var(--theme-white);
    font-weight: 200;
    max-width: 900px;
    line-height: 27px;
}

.comunication_a{
    margin-top: 20px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 40px;
    font-size: 12px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
}

.leadership_section{
   margin-top: 70px;
   margin-bottom: 150px;
}

.leadership_section img{
    width: 100%;
}

.leadership_span{
    color: var(--theme-white);
    font-size: 12px;
    font-weight: 400;
    margin-top: 50px;
}

.leadership_head{
    font-size: 30px;
    margin-top: 15px;
    font-weight: 500;
    color: var(--theme-white);
}

.leadership_para{
    margin-top: 10px;
    font-size: 16px;
    color: var(--theme-white);
    font-weight: 200;
    max-width: 900px;
    line-height: 27px;
}

.leadership_a{
    margin-top: 20px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 40px;
    font-size: 12px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
}

/* Resources News Open page  */

/* header section  */

.header_option_anchor{
   color: var(--theme-green);
}

.header_a{
    background-color: var(--theme-green);
    color: var(--theme-white);
}

/* news section  */

.news{
    background-color: var(--theme-yellow);
}

.news_inner{
    padding-top: 150px;
    display: flex;
    gap: 100px;
    padding-bottom: 100px;
}

.news_left_Section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    height: 300px;
    width: 25%;
    position: static;
    top: 50%;
}

.news_left_section_span{
    font-size: 14px;
    font-weight: 300;
}

.news_left_section_heading{
    font-size: 14px;
    font-weight: 300;
    margin-top: 500px;
}

.news_left_section_a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.news_left_anchor{
    background-color: var(--theme-orange);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preach_head{
    font-size: 12px;
    font-weight: 400;
    color: var(--theme-orange);
}

.news_right_section{
    margin-top: 60px;
}

.preach_heading{
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
    color: var(--theme-green);
}

.preach_heading strong{
    font-weight: 300;
}

.preach_para{
    font-size: 16px;
    font-weight: 400;
    color: var(--theme-green);
    margin-top: 15px;
    line-height: 24px;
    max-width: 850px;
}

.video_section{
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 100%;
    object-fit: cover;
}

.video_background_img{
    width: 100%;
    position: relative;
}

.video_background_img img{
    width: 100%;
}

.video_background_img .play_images{
    width: 100px;
}

.play_images{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.creative_finest{
    margin-top: 15px;
}

.creative_finest_heading{
    color: var(--theme-green);
    font-size: 31px;
    font-weight: 400;
}

.creative_para{
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-green);
    margin-top: 20px;
    max-width: 850px;
    line-height: 24px;
}

.creative_finest_a{
    margin-top: 20px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-green);
    padding: 15px 35px;
    font-size: 12px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
}

/* swiper slider cards */

.swipers_card{
    background-color: var(--theme-orange);
}

.swipers_texts{
    color: var(--theme-white);
}

.swipers_card_text{
    background: var(--theme-orange);
    padding-top: 15px;
    margin-top: 0;
}

.swipers_card_span{
    color: var(--theme-white);
}

.swipers_card_heading{
    color: var(--theme-white);
}

.swipers_card_para{
    color: var(--theme-white);
}

.swipers_arrow_anchor{
    background-color: var(--theme-white);
}

/* purpose section  */

.sections_want_learn {
    position: relative;
    background-image: url(../images/sections/img-03-15-15213068.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sections_want_learn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0%, 100% 0%, 75% 100%, 0 100%);
    background-color: var(--theme-green);
    width: 50%;
    height: 100%;
}

.sections_want_learn .inner-content {
    position: relative;
    z-index: 1;
    padding-block: 100px;
    max-width: 450px;
}

.purpose_heading {
    font-size: 40px;
    font-weight: 300;
    color: var(--theme-white);
}

.purpose_para {
    color: var(--theme-white);
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5;
    max-width: 600px;
    margin: 20px auto;
    margin-right: auto;
    margin-left: 0;
}

.purposes_a {
    font-size: 12px;
    margin-top: 20px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 40px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
}

/* case study page  */

/* case studies section */

.case_study{
    background-color: var(--theme-yellow);
}

.case_study_inner{
    padding-top: 100px;
}

.case_study_head{
    color: var(--theme-orange);
    font-size: 12px;
    font-weight: 300;
}

.case_study_heading{
    color: var(--theme-green);
    font-size: 50px;
    font-weight: 400;
    margin-top: 6px;
}

.case_study_heading strong{
    color: var(--theme-green);
    font-size: 50px;
    font-weight: 400;
    margin-top: 6px;
}

.case_study_para{
    font-size: 16px;
    color: var(--theme-green);
    font-weight: 300;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 6px;
    line-height: 22px;
    max-width: 650px;
}

.case_study_bottom_section{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.case_studys_head{
    font-size: 12px;
    font-weight: 300;
    color: var(--theme-green);
}

.case_study_a{
    font-size: 12px;
    font-weight: 300;
    color: var(--theme-white);
    border-radius: 50px;
    background-color: var(--theme-orange);
    padding: 10px 30px;
}

.case_study_anchor{
    font-size: 12px;
    font-weight: 300;
    color: var(--theme-white);
    border-radius: 50px;
    background-color: var(--theme-orange);
    padding: 10px 30px;
    text-transform: capitalize;
    display: none;
}

/* transfoming section  */

.transfoming{
    background-color: var(--theme-yellow);
}

.transfoming_inner{
    padding-top: 60px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
}

.transfoming_card_heading{
    font-size: 24px;
    font-weight: 400;
    color: var(--theme-green);
}

.transfoming_card_text{
    margin-top: 20px;
}

.trasfoming_left_section{
    margin-top: 100px;
}

.transfoming_card_para{
    font-size: 16px;
    color: var(--theme-green);
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 6px;
    line-height: 22px;
    max-width: 500px;
}

.trasfoming_card_img{
    width: 100%;
    position: relative;
}

.trasfoming_card_img img{
    width: 100%;
}

.trasfoming_card_filter_text{
    position: absolute;
    bottom: 5%;
    left: 2%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter_1{
  color: var(--theme-black);
  background-color: var(--theme-white);
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 400;
}

.filter_2{
    color: var(--theme-black);
    background-color: var(--theme-white);
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 400;
  }

  .transfoming_card{
    margin-top: 150px;
  }

  /* Services Case study page  */

  /* service hero section  */

  .service{
    padding-top: 100px;
    background-color: var(--theme-yellow);
    position: relative;
  }

  .service img{
    width: 100%;
  }

  .service_2{
    display: none;
  }

  .service_a{
    position: absolute;
    top: 70%;
    background-color: var(--theme-orange);
    color: var(--theme-white);
    padding: 8px 20px;
    left: -3%;
    transform: rotate(90deg);
    font-size: 14px;
    font-weight: 400;
  }

  
  /* work culture section */

  .work_culture{
    background-color: var(--theme-yellow);
  }

  .work_culture_inner{
    padding-top: 70px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    /* align-items: center; */
    gap: 100px;
    justify-content: space-between;
  }

  .work_culture_left_head{
    font-size: 12px;
    font-weight: 500;
    color: var(--theme-orange);
  }

  .work_culture_left_heading{
    font-size: 40px;
    color: var(--theme-green);
    font-weight: 400;
    margin-top: 15px;
  }

  .work_culture_left_para{
    font-size: 16px;
    font-weight: 400;
    color: var(--theme-green);
    max-width: 700px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10; 
    overflow: hidden;
    margin-top: 15px;
    line-height: 24px;
  }

  .work_culture_right_head{
    font-size: 12px;
    font-weight: 500;
    color: var(--theme-orange);
  }

  .clients_details{
    display: flex;
    margin-top: 25px;
    color: var(--theme-green);
    border-bottom: 1px solid var(--theme-darkgray);
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .client_name{
    font-size: 14px;
    font-weight: 400;
  }

  .client_names{
    font-size: 14px;
    font-weight: 500;
  }

  /* sliders with arrow */

  .swiper {
    width: 100%;
    height: 100%;
  }

  .mySwiper_s .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--theme-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .mySwiper_s .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .service_slider{
    background-color: var(--theme-yellow);
    padding-top: 100px;
    position: relative;
  }

  .swiper_arrows{
    position: absolute;
    bottom: 0;
    right: 9%;
    flex-direction: column;
  }

  /* out come section  */

 .outcome_inner{
    margin-top: 100px;
    margin-bottom: 100px;
 }

 .outcome_head{
    font-size: 12px;
    font-weight: 500;
    color: var(--theme-orange);
 }

 .outcome_heading{
    margin-top: 20px;
    font-size: 44px;
    font-weight: 400;
    color: var(--theme-green);
    max-width: 800px;
 }

 .outcomes_head{
    font-size: 13px;
    font-weight: 500;
    color: var(--theme-green);
    margin-top: 20px;
 }

 /* contact page  */

 /* form section  */

 .form_section_inner{
    padding-top: 200px;
    justify-content: space-between;
    display: flex;
    gap: 40px;
 }

 .form_left_section_heading{
    font-size: 40px;
    font-weight: 400;
    color: var(--theme-white);
 }

 .contact_information{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .first_row{
    display:flex ;
    justify-content: space-between;
    gap: 20px;
 }

 .first_row input{
    padding: 15px 30px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    background-color:rgb(254 254 254 / 47%);
    clip-path:none;
    outline: none;
    border: 0;
}

.first_row input::placeholder{
    color: var(--theme-white);
    font-size: 14px;
}

.first_row input:focus{
    color: var(--theme-white);
    font-size: 14px;
}

.second_row{
    display:flex ;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.second_row input{
    padding: 15px 30px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    background-color:rgb(254 254 254 / 47%);
    clip-path:none;
    outline: none;
    border: 0;
}

.second_row select{
    padding: 15px 30px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    background-color:rgb(254 254 254 / 47%);
    clip-path:none;
    outline: none;
    border: 0;
    color: #ffffff;
    font-size: 14px;
}

.second_row input::placeholder{
    color: var(--theme-white);
    font-size: 14px;
}

.second_row input:focus{
    color: var(--theme-white);
    font-size: 14px;
}

.third_row{
    margin-top: 20px;
}

.third_row select{
    padding: 15px 30px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    background-color:rgb(254 254 254 / 47%);
    clip-path:none;
    outline: none;
    border: 0;
    color: #ffffff;
    font-size: 14px;
}

.forth_row{
    margin-top: 20px;
}

.forth_row textarea{
    padding: 15px 30px;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    background-color:rgb(254 254 254 / 47%);
    clip-path:none;
    outline: none;
    border: 0;
    color: #ffffff;
    font-size: 14px;
}

.forth_row textarea::placeholder{
    color: var(--theme-white);
    font-size: 14px;
}

.form_right_section {
    width: 100%;
    max-width: 800px; 
}

.form_input, select, textarea {
    width: 100%; 
}

.first_row, .second_row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.first_row input,
.second_row input,
.second_row select {
    flex: 1; 
}

.form_right_section {
    width: 100vw; 
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    text-align: center;
    margin-top: 25px;
    font-size: 12px;
    color: var(--theme-white);
}

.checkbox-container input {
    appearance: none;
    width: 20px; 
    height: 20px;
    border: 2px solid var(--theme-white); 
    border-radius: 100px; 
    background-color: var(--theme-white); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all 0.3s ease;
    clip-path: none;
    padding: 0;
    position: relative;
}

.checkbox-container input:checked {
    background-color: #007aff; 
    border: 2px solid #007aff;
}

.checkbox-container input:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-btn{
    font-size: 12px;
    margin-top: 20px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 40px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

form{
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color:var(--theme-yellow);
    padding: 80px;
    text-align: center;
    width: 100%;
    position: relative;
}

.modal-content h2 {
    color: var(--theme-green);
    font-size: 40px;
    font-weight: 400;
}

.modal-content h2 strong{
    color: var(--theme-green);
    font-size: 40px;
    font-weight: 400;
}

.modal-content p {
    color: var(--theme-green);
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: var(--theme-orange);
    color: var(--theme-white);
    border: none;
    border-radius: 50%; 
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
        
.close-btn svg {
    width: 20px;
    height: 20px;
}
        
.close-window {
    font-size: 12px;
    margin-top: 25px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 40px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

/* purpose section  */

.content_inner{
    margin-top: 150px;
}

/* follow us section  */

.inner_follow_us{
    padding-top: 35px;
}

/* account sign in page  */

/* sign in section  */

.sign_in {
    position: relative;
    background-image: url("../images/sections/1647694310.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 
  
}

.sign_in:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(75% 0%, 49% 48%, 75% 100%, 0% 100%, 0 49%, 0% 0%);
    background-color: var(--theme-green);
    width: 90%;
    height: 100%;
}

.sign_in .sign_in_inner {
    position: relative;
    z-index:1;
    padding-block: 173px;
    max-width: 400px;
}

.sign_in_heading{
    font-size: 40px;
    font-weight: 300;
    color: var(--theme-white);
}

.sign_in_heading strong{
    font-size: 40px;
    font-weight: 700;
    color: var(--theme-white);
}

.sign_in_head{
    color: #BFBFBF;
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    border-bottom: 1px solid #f0eded7d;
    padding-bottom: 20px;
}

.sign_in_form{
    text-align: left;
    margin-top: 20px;
}

.sign_in_form label{
    font-size: 12px;
    font-weight: 400;
    color: var(--theme-white);
}

.sign_in_form input{
    clip-path: none;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:rgb(254 254 254 / 47%);
}

.sign_in_form input::placeholder{
    color: var(--theme-white);
}

.sign_in_form input:focus{
    color: var(--theme-white);
    font-size: 14px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign_in_a{
    margin-top: 15px;
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 40px;
    font-size: 12px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    transition: all .3s ease;
}

.sign_in_a:hover{
    color: var(--theme-black);
    background-color: var(--theme-white);
}

.sign_in_para{
    color: var(--theme-white);
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
}

.sign_in_para strong{
    font-weight: 600;
}

/* privacy page  */

/* privacy policy section */

.privacy_policy{
    background-color: var(--theme-yellow);
}

.privacy_policy_inner{
    padding-top: 150px;
    display: flex;
    /* align-items: center; */
    gap: 100px;
    padding-bottom: 150px;
}

.privacy_policy_left_section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--theme-orange);
    padding: 30px;
    height: 100px;
    width: 20%;
    position: sticky;
    top: 150px;
}

.privacy_policy_left_section_a{
    font-size: 12px;
    font-weight: 400;
    color: var(--theme-white);
}

.privacy_section_heading{
    font-size: 40px;
    font-weight: 300;
    color: var(--theme-green);
}

.privacy_section_para{
    margin-top: 20px;
    font-family: 16px;
    font-weight: 300;
    color: var(--theme-green);
    max-width: 750px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; 
    overflow: hidden;
    line-height: 24px;
}

.terms_and_condition_section_heading{
    font-size: 40px;
    font-weight: 300;
    color: var(--theme-green);
    margin-top: 50px;
}

/* purpose section  */

.sections_s{
    position:relative;
    background-image:url("../images/sections/img-03-15-15213068.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .sections_s:before{
     content: "";
     position:absolute;
     left:0;
     top:0;
     clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
     background-color:var(--theme-orange);
     width:50%;
     height:100%;
  }

  .sections_s .content_inner{
    position:relative;
    z-index:1;
    padding-block:100px;
    max-width:450px;
    margin-top: -1px;
  }
  
   /* nest page  */

   /* your nest section  */

   .nest_section{
     background-color: var(--theme-orange);
   }

   .nest_section_inner{
     padding-top: 200px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding-bottom: 130px;
   }
  
   .nest_section_heading{
    font-size: 60px;
    font-weight: 300;
    color: var(--theme-white);
   }

   .nest_section_heading strong{
    font-weight: 600;
   }

   .nest_section_para{
    font-size: 16px;
    font-weight: 200;
    color: var(--theme-white);
    max-width: 700px;
    margin-top: 20px;
   }

   .nest_section_head{
    font-size: 12px;
    font-weight: 500;
    color: var(--theme-white);
    margin-top: 35px;
   }

   .nest_section_buttons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
   }

   .nest_section_a{
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-green);
    padding: 15px 40px;
    font-size: 12px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
   }

   /* faqs section  */

   .faqs_inner{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
   }

.faqs_section_heading {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--theme-white);
}
.accordion__item {
    background-color:rgb(254 254 254 / 47%);
    margin-bottom: 10px;
    overflow: hidden;
}

.accordion__btn {
    width: 100%;
    background: transparent;
    color: var(--theme-white);
    border: none;
    text-align: left;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.accordion__btn span{
    font-weight: 300;
}

.accordion__icon {
    transition: transform 0.3s ease-in-out;
    background-color: var(--theme-orange);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion__item--active .accordion__icon {
    transform: rotate(135deg);
}
.accordion__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    padding: 0 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-white);
}
.accordion__item--active .accordion__content {
    max-height: 600px;
    opacity: 1;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-white);
}

.accordion__content_a{
    color: var(--theme-white);
    font-weight: 500;
    background-color: var(--theme-orange);
    padding: 15px 40px;
    font-size: 12px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    margin-top: 15px;
}

.accordion__content p{
    line-height: 22px;
}
   
/* Nests – 4 page  */

/* heading section */

.programm_inner{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.programm_heading{
    font-size: 40px;
    font-weight: 300;
    color: var(--theme-white);
}

.programm_para{
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-white);
    max-width: 700px;
    margin-top: 20px;
}

/* download section  */

.download_section{
    background-color: var(--theme-yellow);
}

.download_inner{
    padding-top: 150px;
}

.download_head{
    color: var(--theme-orange);
    font-size: 12px;
    font-weight: 400;
}

.download_heading{
    margin-top: 15px;
    font-size: 38px;
    font-weight: 400;
    color: var(--theme-green);
}

.download_tabs{
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.download_tabs_anchor{
    font-size: 12px;
    font-weight: 400;
    color: var(--theme-white);
    background-color: var(--theme-orange);
    border-radius: 30px;
    padding: 8px 22px;
}

.downloads_tabs{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-white);
    padding: 20px 30px;
    box-shadow: 0px 0px 15px #043C3922;
}

.download_text_heading{
    font-size: 18px;
    font-weight: 400;
    color: var(--theme-green);
}

.download_text_para{
    font-size: 14px;
    font-weight: 200;
    color: var(--theme-green);
    margin-top: 5px;
}

.download_buttons span{
    font-size: 12px;
    font-weight: 600;
    color: var(--theme-green);
}

.download_buttons_a{
    color: var(--theme-white);
    background-color: var(--theme-orange);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* video resources section */

.video_resoueces{
    background-color: var(--theme-yellow);
}

.video_resources_inner{
    padding-top: 150px;
}

.video_resoueces_heading{
    font-size: 12px;
    font-weight: 400;
    color: var(--theme-orange);
}

.video_resoueces_head{
    font-size: 38px;
    font-weight: 300;
    color: var(--theme-green);
    margin-top: 10px;
}

.circle {
  
}

a.icon-play {
  position: absolute;
  width: 100px;
  height: 100px;
  border: solid 2px ;
  border-radius: 100px;
  top: 50px;
  left: 50px;
}
  
a.icon-play::before {
    content: "";
    width: 34px;
    height: 53px;
    border-left: 2px solid ;
    border-radius: 5px;
    position: absolute;
    top: 23px;
    left: 37px;
  }
  
  a.icon-play::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 19px;
    width: 42px;
    height: 42px;
    transform: rotate(45deg) skew(-5deg, -5deg);
    border-top: 2px solid r;
    border-right: 2px solid ;
    border-radius: 5px;
  }
  
  a.icon-play:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
