@media screen and (max-width:1440px){
    .swiper_arrows{
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .follow_us_right_section{
        overflow: auto;
     }
      .header_unorderlist{
        gap: 10px;
    }
}
@media screen and (max-width:1150px) and (min-width:1024px){
    
    .purpose_para{
        max-width: 399px;
      }
}

@media screen and (max-width:1024px){
    .header_unorderlist {
        display: none;
        position: absolute;
        top: 122px;
        left: 0;
        width: 100%;
        background-color: var(--theme-yellow);
        flex-direction: column;
        gap: 20px;
        /* padding: 20px 0; */
        z-index: 999;
        height: 100vh;
        justify-content: baseline;
        padding-top: 100px;
    }

    .header_para{
        display: inline-flex;
    }

    .section:before {
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
        width: 66%;
    }
    .sections::before {
        clip-path: polygon(0 0, 76% 0, 100% 100%, 0 100%);
        width: 66%;
    }
    .sections_s::before{
        clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
        width: 66%;
    }
    .sections_hero:before {
        width: 100%;
    }

    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
    }

    .header .menu-btn:checked ~ .header_unorderlist {
        display: flex;
        align-items: start;
        padding-left: 30px;
        justify-content: baseline;
        height: 100vh;
    }

    .header .menu-icon {
        display: inline-block;
        color: white;
    }

    .header_logos_image{
        display:none;
    }

    .header_logo_image{
        display: block;
    }

    .mini_header{
        display: none;
    }

    .header_options_a{
        color: var(--theme-black);
        font-size: 24px;
        font-weight: 600;
    }

    .header_anchor{
        background-color: var(--theme-green);
        color: var(--theme-white);
        font-size: 12px;
    }
    .header .menu-icon .navicon {
        background: var(--theme-white);
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: var(--theme-white);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .3s ease-out;
        width: 100%;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    .contact_location{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .sections_want_learn:before {
        clip-path: polygon(0 0%, 100% 0%, 89% 100%, 0 100%);
        width: 60%;
    }
    .button{
        flex-direction: column;
    }
    .privacy_policy_left_section {
        width: 37%;
}
}

@media screen and (max-width:1024px) and (min-width:769px){
    .sign_in .sign_in_inner{
    max-width: 350px;
    }
    .sign_in:before{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .header .menu-icon .navicon {
        background: var(--theme-black);
        display: block;
        height: 2px;
        position: relative;
        transition: background .3s ease-out;
        width: 18px;
    }
    
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: var(--theme-black);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .3s ease-out;
        width: 100%;
    }
    .sections_s::before{
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 44%);
        width: 100%;
    }
    .hero_section {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        background-color: var(--theme-yellow);
    }

    .loacal_charity::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 226px;
        background-position: right;
        background-image: url(../images/sections/Subtraction\ 10.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: contain;
        max-width: 440px;
    }

    .hero_section::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.0);
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .sections::before{
        width: 66%;
    }

    .hero_section_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
        margin-top: 200px;
    }

    .hero_sections_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
        margin-top: 200px;
    }

    .header_logos_image{
        display:block;
    }

    .header_logo_image{
        display: none;
    }
    
    .header {
      background-color: var(--theme-yellow);
    }

    .hero_section_heading{
        color: var(--theme-black);
    }

    .hero_section_para{
        color: var(--theme-black);
    }

    .hero_section_paras{
        color: var(--theme-black);
    }

    .header_inner{
        padding-top: 50px;
    }

    .hero_section_whatwedo{
    color: var(--theme-white);
    background-color: var(--theme-orange);
    padding: 18px 49px 17px 49px;
    clip-path: polygon(9px 0%, 100% 0%, calc(100% - 9px) 100%, 0% 100%);
    font-weight: 500;
    font-size: 12px;
    }
    
    .hero_section_buttons{
        flex-direction: column;
        align-items: baseline;
    }

    .pages_inner ul{
       display: none;
    }
    .card_main {
        grid-template-columns: repeat(2, 1fr);
    }
    .circle_cards_primary,
    .circle_cards_secondary,
    .circle_cards_ternory {
    width: 280px; 
    height: 280px;
}
.contact_location{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.text_left_section_text{
    max-width: 400px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;

}
.text_left_sections_text{
    max-width: 400px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;

}
.text_right_section_para{
    line-height: 26px;
    max-width:400px ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 18;
    overflow: hidden;
    font-size: 16px;
}
.text_right_sections_para{
    line-height: 25px;
    max-width:400px ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 18;
    overflow: hidden;
}
.text_inner{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.purpose_para{
    max-width: 298px;
  }
  .sections_hero {
    height: 100vh;
}
.sections_hero:before {
    clip-path: polygon(50% 0%, 100% 0, 100% 56%, 100% 56%, 100% 100%, 49% 76%, 0 100%, 0 57%, 0 57%, 0 0);
    height: 80%;
}
.resources_headers {
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
}
.resources_card {
    grid-template-columns: repeat(2, 1fr);
}
.other_card_inner{
    grid-template-columns: repeat(2, 1fr);
}
.resources_a{
    padding: 10px 23px;
}
.play_svg_a {
    padding: 15px 26px;
    left: 79%;
}
.sticky_inner{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 150px;
}
.practise_section {
    grid-template-columns: repeat(1, 1fr);
}
.sticky_left_section {
    width: calc(100% + 40px);
    position: static;
    flex-direction: row;
    max-width: 1356px;
    height: 100%;
    overflow: auto;
    gap: 39px;
    margin-left: -20px;
}
.sticky_left_a{
    display: none;
}
.purposes_heading {
    font-size: 29px;
}
.service_a{
    display: none;
}
.service_1{
    display: none;
 }
 .service_2{
    display: block;
 }

.form_left_section_heading {
    font-size: 32px;
    font-weight: 400;
    color: var(--theme-white);
}
    .form_left_section_heading {
        font-size: 40px;
    }
    .contact_information {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .contact_info, .mail_info {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }
    .contact_info, .mail_info {
        font-size: 16px;
    }
    .form_right_section {
        width: 100%;
        max-width: 800px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        width: 100%;
    }
    
    .first_row, .second_row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
     .first_row, .second_row {
        flex-direction: row;
    }
    .first_row, .second_row {
        flex-direction: row;
    }
    textarea {
        resize: vertical;
    }
    
    .checkbox-container {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        gap: 10px;
    }
    
    .submit-btn {
        font-size: 14px;
        padding: 15px 30px;
        background-color: var(--theme-orange);
        color: var(--theme-white);
        border: none;
        cursor: pointer;
        max-width: fit-content;
        margin: auto;
    }
    .sign_in:before {
        clip-path: polygon(50% 0%, 100% 0, 100% 56%, 100% 56%, 100% 100%, 49% 76%, 0 100%, 0 57%, 0 57%, 0 0);
        height: 85%;
        width: 100%;
    }
    .sign_in .sign_in_inner {
        margin: auto;
    }

    .sign_in_form{
        gap: 0;
    }
    .privacy_policy_inner{
        flex-direction: column;
    }
    .privacy_policy_left_section{
        position: static;
        width: 100%;
        flex-direction: row;
        height: 0%;
        align-items: center;
        gap: 30px;
    }
    .privacy_section_heading{
        color: var(--theme-black);
    }
    .privacy_section_para{
        color: var(--theme-black);
    }
    .terms_and_condition_section_heading{
        color: var(--theme-black);
    }
    .sections_s .content_inner{
        margin: auto;
        text-align: center;
       }
       .nest_cards{
        grid-template-columns: repeat(2,1fr);
    }
    .questions{
        flex-direction: column;
        align-items: baseline;
    }
    .question{
        flex-direction: column;
        align-items: baseline;
    }
    .update_svg_a{
        left: 78%;
    }
    .form_section_inner{
        flex-direction: column;
    }
    .follow_us_inner{
        flex-direction: column;
    }
    .follow_us__inner{
        flex-direction: column;
    }
    .information_inner{
        grid-template-columns: repeat(1,1fr);
    }
    .information_right_section{
        position: static;
        width: 100%;
    }
    .Sustainability_inner{
        flex-direction: column-reverse;
      }
      .Sustainability_left_section{
        position: static;
        width: 100%;
    }
    .information{
        position: relative;
        padding: 0;
    }
    
    .Sustainability{
        position: relative;
        padding: 0;
    }
    .news_inner{
        flex-direction: column;
        gap: 0;
     }
     .news_left_section_heading{
        display: none;
    }
    .news_left_section_a{
        display: none;
    }
    .news_left_Section {
        gap: 0px;
        padding: 0px;
        height: 0px;
}
}


@media screen and (max-width:575px){
    .hero_section_heading {
        font-size: 12px;
    }
    .hero_section_para{
        font-size: 40px;
        max-width: 400px;
        line-height: 50px;
    }
    .hero_section_paras{
        font-size: 40px;
        max-width: 376px;
        line-height: 50px;
        margin-top: 10px;
    }
    .cards{
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
    }
    .information_right_section{
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .Sustainability_left_section{
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .sign_in_heading{
        font-size: 30px;
    }
    .sign_in_heading strong{
        font-size: 30px;
    }
    .loacal_charity::before {
        content: '';
        position: absolute;
        right: 0;
        background-position: right;
        background-image: url(../images/icons/Subtraction\ 5\ \(1\).png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: contain;
        max-width: 44;
    }

    .swiper_arrows{
        margin-top: 15px;
    }

    .other{
        display: none;
    }

    .card_slider_inner{
        margin-top: 0;
    }

    .swiper_card_inner{
        padding-bottom: 70px;
    }

    .local_charity_head {
        max-width: 400px;
        font-size: 40px;
        line-height: 48px;
    }
    .loacal_charity_para {
        max-width: 400px;
        font-size: 16px;
    }
    .card_anchor{
        display: none;
    }
    .card_main {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .primary{
        margin-top: -215px;
    }

    .primary-para{
        max-width: 400px;
        font-size: 33px;
        line-height: 50px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        display: none;
    }

    .swiper-wrapper{
        padding-bottom: 0;
    }

    .heading_inner{
        margin-top: 100px;
    }

    .heading_head{
        font-size: 35px;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .local_charity_inner{
        padding-bottom: 400px;
    }

    .swipers_text{
        font-size: 30px;
    }
    .follow_us_left_section_para{
        max-width: 200px;
    }
    .contact_location{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .footer_inner {
        flex-direction: column;
        gap: 60px;
    }
    .footers_inner{
        flex-direction: column;
        gap: 60px;
    }
    .footer_input{
        text-align: left;
    }
    .footers_input{
        text-align: left;
    }
    .mini_footer_inner{
        flex-direction: column;
        gap: 30px;
    }
    .mini_footers_inner{
        flex-direction: column;
        gap: 30px;
    }
    .text_left_section_text{
        max-width: 400px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        line-height: 44px;
        font-size: 34px;
    }
    .text_left_sections_text{
        max-width: 400px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    .text_right_section_para{
        line-height: 26px;
        max-width:400px ;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
        font-size: 16px;
    }
    .text_right_sections_para{
        line-height: 25px;
        max-width:400px ;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
    }
    .follow_us_left_section {
        align-items: baseline;
    }
    .text_inner{
        padding-top: 50px;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .section:before {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 62%);
        width: 100%;
    }
    .sections:before {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 62%);
        width: 100%;
    }
   .purpose_para {
    max-width: 399px;
    }
    .purpose_heading{
    font-size: 30px;
    }
    .purpose_a{
        font-size: 12px;
        background-color: var(--theme-green);
    }
    .primary_resource_card{
        display: none;
    }
    .resources_card {
        grid-template-columns: repeat(1, 1fr);
    }
    .other_card_inner{
        grid-template-columns: repeat(1, 1fr);
    }
    .resources_anchor{
        display: none;
    }
    .resources_a{
        padding: 10px 15px;
    }
    .play_svg_a {
        left: 86%;
    }
    .update_inner{
        grid-template-columns: repeat(1,1fr);
    }
    .sections_want_learn:before {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 68%);
        width: 100%;
    }
       .purpose_para {
        max-width: 500px;
        }
        .purpose_heading{
        font-size: 30px;
        }
.preach_heading{
    color: var(--theme-black);
    font-size: 38px;
    line-height: 45px;
}

.video_background_img{
    width: calc(100% + 40px);
        margin-left: -20px;
}

.preach_para{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    margin-top: 10px;
    line-height: 22px;
}

.preach_heading strong{
    font-weight: 600;
    color: var(--theme-black);
    line-height: 45px;
}
.creative_para{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    margin-top: 10px;
    line-height: 22px;
}
.case_study_heading strong{
    font-size: 40px;
    font-weight: 500;
    margin-top: 6px;
    color: var(--theme-black);
}

.case_study_heading{
    color: var(--theme-black);
    font-size: 40px;
    line-height: 40px;
}

.case_study_anchor{
    display: block;
}

.case_study_a{
    display: none;
}

.case_study_anchors{
    display: block;
}

.transfoming__cards{
    display: none;
}

.transfoming_inner{
    padding-top: 0px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.transfoming_card{
    margin-top: 50px;
}
.work_culture_inner {
    grid-template-columns: repeat(1,1fr);
}
.work_culture_left_heading{
   font-size: 30px;
}
.outcome_heading{
    font-size: 33px;
    max-width: 400px;
 }
 .form_section_inner{
    flex-direction: column;
 }
 .first_row{
    flex-direction: column;
 }
 .second_row{
    flex-direction: column;
 }
 .checkbox-container input {
    appearance: none;
    width: 20px; 
    height: 20px;
    border: 2px solid var(--theme-white); 
    border-radius: 0px; 
    background-color: var(--theme-white); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all 0.3s ease;
    clip-path: none;
    padding: 0;
}
.modal-content h2 strong{
    font-weight: 600;
}

.modal-content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.nest_section_buttons{
    flex-direction: column;
}
.nest_section_heading{
    font-size: 45px;
}
.nest_section{
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
}
.accordion__btn{
    font-size: 17px;
}.accordion__btns{
    font-size: 17px;
}
.downloads_tabs{
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
}
.download_buttons_a{
    width: 30px;
    height: 30px;
}
.nest_cards{
    grid-template-columns: repeat(1,1fr);
}
}

@media (max-width: 480px) {
    .form_left_section_heading {
        font-size: 28px;
    }
}

@media screen and (max-width:425px){
    .mini_footer_unorderlist {
        flex-direction:column ;
    }
    .mini_footer_right_section_para strong {
        font-size: 23px;
    }
    .play_svg_a {
        left: 81%;
    }
    .transfoming_inner {
        padding-top: 0px;
    }
}


@media screen and (max-width:375px){
    .swipers_text{
        font-size: 24px;
    }
    .case_study_bottom_section{
        flex-direction: column;
        align-items: start;
    }
    .download_tabs_anchor { 
        padding: 8px 19px;
    }
}

@media screen and (max-width:320px){
    .play_svg_a {
        left: 78%;
    }
}
